*
{
    font-family: Arial, Helvetica, sans-serif;
    color: #333A39;
}

body{
    text-align: center;
    background-image: url(img/cartoon-vegetables.jpg);
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    margin-top: 10%;
}

p{
    font-size: 1.2em;
    font-weight: bold;
}

label{
    font-weight: bolder;
}

input{
    height: 30px;
}

#btn{
    height: 30px;
    border-radius: 10px;
    background-color: #F8ECA4;
}

#btn:hover{
    background-color: whitesmoke;
    box-shadow: 4px 3px 3px black;
}

#result{
    font-size: larger;
    color:brown;
}

.imc, #result{
    font-weight: bolder;
}

.tableau{
    
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.th1{
    
    padding-bottom: 8%;
}

th{
    font-size: 1.2em;
    padding-bottom: 10px;
}


.left{
    width: 120px;
    height: 30px;
    text-align: end;
    padding-right: 10px;
}

.right{
    width: 200px;
    text-align: left;
    padding-left: 20px;
}


